<div class="row text-center">
  <section id="services" class="services col-12">
    <div class="col-lg-12 col-lg-offset-1 mt-3 mb-3">
      <h2 class="text-light"><%= headings[0].featureHeading %></h2>
      <p class="text-center text-light">Click the icons to get more information</p>
      <div class="container-fluid">
      <div class="row mt-2 col-10 mx-auto boxes">
        <!-- Loop start -->
        <% for (feature of features){ %>
          <div class="col-md-3 col-sm-12">
            <div class="service-item text-light">
              <a data-target="#<%=feature.number%>" data-toggle="collapse" data-toggle="tooltip" data-placement="bottom" title="Click for more information">
              <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="<%= feature.icon %> icons"></i>
                </span>
                </a>
              <h4><strong><%= feature.titel %></strong></h4>
              <p>
                <%= feature.description %>
                <div id="<%=feature.number%>" class="collapse dropdownbox">
                  <p class="p-2 text-left">
                    <%= feature.dropdown %>
                    <a id="featuresImages" href="../images/<%= feature.image %>" data-toggle="lightbox" data-title="<%=feature.imageText %>" data-toggle="tooltip" data-placement="bottom" title="Click to enlarge">
                      <img src="../images/<%= feature.image %>" alt="" class="img-fluid mt-3">
                    </a>

                  </p>
                  </div>
              </p>

            </div>
          </div>
          <%}%>
            <!-- loop slut -->
      </div>

    </div>
  </section>
</div>
