<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs %>
</head>

<body>
  <header class="fordelar-header">
    <div id="top"></div>
    <div class="container-fluid">
      <% include partials/nav-bar.ejs %>
    </div>
  </header>
  <main>
    <div class="container fordelar-sida">
      <div class="row">
        <h1><%= headings[0].fordelarHeading %></h1>
        <div class="bg-primary">
          <p class="p-2"><%= fordelar[0].fordelarFieldOne %></p>
        </div>
        <div class="bg-danger mt-3">
          <p class="p-2"><%= fordelar[0].fordelarFieldTwo %></p>
        </div>
        <div class="bg-warning mt-3">
          <p class="p-2"><%= fordelar[0].fordelarFieldThree %></p>
        </div>
        <div class="bg-success mt-3">
          <p class="p-2"><%= fordelar[0].fordelarFieldFour %></p>
        </div>
        <div class="bg-primary mt-3">
          <p class="p-2"><%= fordelar[0].fordelarFieldFive %></p>
        </div>
      </div>
    </div>
  </main>
  <% include partials/footer.ejs %>


  <% include partials/scripts.ejs %>

</body>

</html>
